<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
  <meta content="text/html; charset='utf-8'" http-equiv='Content-type' />
  <title>Turku Agile Day 2013 registratin</title>
  <script src='/static/js/jquery.js'></script>
  <script src='/static/js/underscore.js'></script>
  <script src='/static/js/main.js'></script>
  <link href='/static/css/site.css' media='screen' rel='stylesheet' type='text/css' />
</head>
<body>
  <h1>Turku Agile Day registration</h1>
  <form action='register' id='registration-form' method='post'>
    {% csrf_token %}
    <input id='participant-count' name='participant-count' type='hidden' value='0' />
    <div class='registration'>
      {{ reg_form.as_p }}
    </div>
    <div class='participants'>
      {% for part_form in part_forms %}
      <div class='participant'>
        {{ part_form.as_p }}
      </div>
      {% endfor %}
    </div>
    <div class='add-participant'></div>
    <input type='submit' value='Register' />
  </form>
</body>
