!!!
%head
  %meta(http-equiv="Content-type" content="text/html; charset='utf-8'")
  %title Turku Agile Day 2013 registratin
  %script(src="/static/js/jquery.js")
  %script(src="/static/js/underscore.js")
  %script(src="/static/js/main.js")
  %link(rel="stylesheet" type="text/css" media="screen" href="/static/css/site.css")

%body
  %h1 Turku Agile Day registration

  %form#registration-form(action="register" method="post")
    {% csrf_token %}
    %input#participant-count(type="hidden" name="participant-count" value="0")
    .registration
      {{ reg_form.as_p }}
      .billing_types
        .normal_type(style="display: none")
          {{ normal_billing_form.as_p }}
        .post_type(style="display: none")
          {{ post_billing_form.as_p }}
        .e_type(style="display: none")
          {{ e_billing_form.as_p }}

    .participants
      {% for part_form in part_forms %}
      .participant
        {{ part_form.as_p }}
      {% endfor %}

    .add-participant
    %input(type="submit" value="Register")

