<!DOCTYPE html>
<head>
  <meta content="text/html; charset='utf-8'" http-equiv='Content-type' />
  <title>Turku Agile Day 2013 registration</title>
  
  <link href='http://fonts.googleapis.com/css?family=Kreon:400' rel='stylesheet' type='text/css'>
  <link href='/static/css/site.css' media='screen' rel='stylesheet' type='text/css'>
  
  <script src='/static/js/jquery.js'></script>
  <script src='/static/js/underscore.js'></script>
  <script src='/static/js/parsley.min.js'></script>
  <script src='/static/js/main.js'></script>
  
</head>
<body>
  <div id="wrap">
    <h1><img src="/static/img/tad013.png" alt="Turku Agile Day 2013"></h1>
    <h2>Registration</h2>
    <form action='register' id='registration-form' method='post' data-validate="parsley">
      {% csrf_token %}
      <input id='participant-count' name='participant-count' type='hidden' value='0'>
      
      <fieldset class='registration'>
        <legend>Billing information</legend>
      
        {{ reg_form.as_p }}
      
        <section class='billing_types'>
          <div class='normal_type' style='display: none'>
            {{ normal_billing_form.as_p }}
          </div>
          <div class='post_type' style='display: none'>
            {{ post_billing_form.as_p }}
          </div>
          <div class='e_type' style='display: none'>
            {{ e_billing_form.as_p }}
          </div>
        </section>
      
      </fieldset>
      
      <fieldset>
        <legend>Participants</legend>
        
        <section class='participants'>
        
          {% for part_form in part_forms %}
          <article class='participant'>
            {{ part_form.as_p }}
          </article>
          {% endfor %}
          
        </section>
        
        <button id='add-participant'>+ Add another participant</button>
      </fieldset>
      
      <div class="controls">
        <input type='submit' value='Submit registration'>
      </div>
    </form>
  </div>
</body>
