<!DOCTYPE html>
<head>
  <meta content="text/html; charset='utf-8'" http-equiv='Content-type' />
  <title>Turku Agile Day 2014 registration</title>
  
  <link href='//fonts.googleapis.com/css?family=Kreon:400' rel='stylesheet' type='text/css'>
  <link href='/static/css/site.css' media='screen' rel='stylesheet' type='text/css'>
  
  <script src='/static/js/jquery.js'></script>
  <script src='/static/js/underscore.js'></script>
  <script src='/static/js/parsley.min.js'></script>
  <script src='/static/js/main.js'></script>
  
</head>
<body>
  <div id="wrap">
    <h1><img src="/static/img/tad014.png" alt="Turku Agile Day 2014"></h1>
    <h2>Your registration has been recorded</h2>
    <p>Thank you for your registration. We have sent an confirmation email to the
    contact email you provided. If you did not receive the confirmation email, please
    contact us at info@turkuagileday.fi. </p>
    <p>Thank you for being a part of the coziest agile conference of the year!</p>
</body>
